terraform.tfvars
infra/bootstrap/.terraform/
# compiled output
/dist
/node_modules
/coverage

# nest clean example
/nest-clean-architecture-ddd-example

# OS
.DS_Store

# IDE - VSCode
.vscode/*
.idea/
.charts/**/*.tgz
